* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
:root {
    --primary: black;
    --secondary: #FFD700;
    --card: rgb(199, 197, 197);
}
body{
    background-color: var(--primary);
    scroll-behavior: smooth;
}

h1 , h3{
    color: var(--secondary);
    margin-bottom: 0.8em;
}
section p, label{
    color: var(--card);
}
button{
    cursor: pointer;
}
/* ============================ HEADER ================================ */
header{
    width: 100%;
    background-color: var(--primary);
    z-index: 100;
    position: sticky;
    top: 0;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.3em;
    
}
header nav .section ul{
    display: flex;
    justify-content: flex-end;
}
header nav .logo h2{
    font-size: 1.4em;
    margin-right: 1em;
    color: var(--secondary);
}

header nav .section ul .section-item{
    margin-right: 1em;
    font-size: 1.4em;
}
header nav .section ul .section-item a{
    color: var(--secondary);
}
header nav input, header nav label{
    display: none;
}
/*  ============================ A PROPOS ================================  */
.apropos{
    background-image: url(image/hero-porto.webp);
    background-position: center;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    height: 35em;
    width: 100%;
    position: relative;
    text-align: center;
    padding-top: 1em;
}
.coulor{
    position: absolute;
    z-index: 2;
    opacity: 0.6;
    mix-blend-mode: multiply;
    background-color: var(--primary);
    height: 36em;
    width: 100%;
}
.apropos .image-porto{
    background-image: url(image/tengen.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 3;
    width: 20em;
    height: 20em;
    border-radius: 100%;
    margin: auto;
}


.apropos .ecriture h1{
    margin-bottom: 0.2em;
    font-size: 4em;
    z-index: 3;
    position: relative;
}
.apropos .ecriture p{
    font-size: 2em;
    z-index: 3;
    position: relative;
    color: var(--secondary);
}

/*  ============================ COMPETENCE ================================  */
.competence{
    margin-top: 2em;
    width: 100%;
    padding-bottom: 2em;
}
.comp-item{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 3em;
    margin: auto;
}
.competence h1{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
}
.competence-item{
    width: 80%;
    padding: 1.3em;
    font-size: 1.3em;
    box-shadow: 5px 5px 20px rgba(252, 250, 250, 0.3);
    border-radius: 10px;
    margin: auto;
}

section p{
    color: var(--card);
    z-index: 3;
}


/*  ============================ PROJET ================================  */
.projet{
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
}
.projet-card{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 3em;
}
.projet-item{
    width: 90%;
    height: auto;
    margin: auto;
    padding: 1.3em;
    position: relative;
    font-size: 1.3em;
    box-shadow: 5px 5px 20px rgba(252, 250, 250, 0.3);
    border-radius: 10px;

}
.projet .projet-card .projet-item button{
    background-color: var(--secondary);
    color: var(--primary);
    padding: 0.6rem 1rem;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 1em;
}
.projet-item:nth-child(1){
    background-image: url(image/banner-caterers.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.projet-item:nth-child(2){
    background-image: url(image/salade_1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.projet-item:nth-child(3){
    background-image: url(image/banner-head-accueil.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.projet-item:nth-child(4){
    background-image: url(image/thieboudieunerouge.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.coull{
    background-color: var(--primary);
    height: 100%;
    width: 100%;
    opacity: 0.9;
    inset: 0;
    z-index: 1;
    position: absolute;
}
.projet h1{
    margin-left: 1em;
}
.projet-item h3,
.projet-item p,
.projet-item button{
    position: relative;
    z-index: 3;
}

/*  ============================ CONTACT ================================  */
.contact{
    margin-top: 2em;
    padding-left: 1em;
    margin-bottom: 2em;
}
.formul{
    margin: auto;
}
.formul form{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.cont-item {
    padding: 1.3em;
}
.formul textarea{
    width: 92%;
    height: 5em;
    margin-left: 1.3em;
    background-color: rgb(76, 71, 71);
}
.cont-item input{
    width: 100%;
    height: 2.3em;
    border-radius: 10px;
    background-color: rgb(76, 71, 71);
}
.contact button{
    background-color: var(--secondary);
    padding: 1.4em 2em;
    margin-top: 1em;
    font-weight: bold;
    color: var(--primary);
    border-radius: 10px;
    margin-left: 2em;
    border: none;
}


/*  ============================ FOOTER ================================  */
footer{
    width: 100%;
    height: 10em;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    padding-top: 2em;
    background-color: var(--primary);
    color: var(--card);
}
footer a i{
    color: var(--secondary);
    font-size: 1.5em;
    padding-bottom: 1em;
}

/*  ============================ RESPONSIVITE SUR TABLETTE ================================  */

@media (min-width: 706px) and (max-width: 905px) {
/* ================ HEADER ================= */
header nav .logo h2{
    font-size: 1.2em;
    color: var(--secondary);
}

header nav .section ul .section-item a{
    font-size: 0.8em;
}
/* ================ A PROPOS ================= */
.apropos{
    height: 20em;
}
.coulor{
    height: 22em;
}
.apropos .image-porto{
    z-index: 3;
    width: 15em;
    height: 15em;
}


.apropos .ecriture h1{
    margin-bottom: 0em;
    font-size: 2em;
}
.apropos .ecriture p{
    font-size: 1em;
    z-index: 3;
    position: relative;
    color: var(--secondary);
}
/* ================ COMPETTENCES ================= */
.comp-item{
    grid-template-columns: repeat(3, 2fr);
    gap: 0.8em;
}
.competence h1{
    font-size: 1.3em;
    margin-left: 0.6em;
}
.competence-item {
    padding: 0.4em;
}
.competence-item h3{
    font-size: 0.8em;
}
.competence-item p{
    font-size: 0.6em;
}

/* ================ PROJET ================= */
.projet-card{
    grid-template-columns: repeat(1, 2fr);
    gap: 1em;
}
.projet-item{
    padding: 1em;
    font-size: 1em;
    box-shadow: 5px 5px 20px rgba(252, 250, 250, 0.3);
    border-radius: 10px;

}
.projet .projet-card .projet-item button{
    padding: 0.4rem 0.6rem;
}

.projet h1{
    margin-left: 0.5em;
    font-size: 1.5em;
}
.projet h3{
    font-size: 1.2em;
}

/* ================ CONTACT ================= */
.contact{
    margin-top: 2em;
    padding-left: 1em;
    margin-bottom: 2em;
}
.cont-item {
    padding: 1em;
}
}




/*  ============================ RESPONSIVITE SUR MOBILE ================================  */

@media (min-width: 150px) and (max-width: 705px) {
/* ================ HEADER ================= */
header{
    width: 100%;
    background-color: var(--primary);
    z-index: 100;
    position: sticky;
    top: 0;
}
header nav input, header nav label{
    display: block;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.3em;
    
}
header nav input{
    appearance: none;
}

header nav .section ul{
    position: absolute;
    display: block;
    transform: translate(-800px, 0);
    top: 3.5em;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: var(--primary);
}
header #ch:checked ~ .section ul {
    transform: translate(0,0); 
    transition: all 0.5s ease;
}
header nav .logo h2{
    font-size: 1em;
}

header nav .section ul .section-item{
    text-align: center;
    margin-bottom: 1px;
    font-size: 1em;
    padding: 1em;
    background-color: rgba(221, 221, 221, 0.3);
}
header nav .section ul .section-item a{
    color: var(--secondary);
}

/* ================ A PROPOS ================= */
.apropos{
    height: 20em;
}
.coulor{
    height: 22em;
}
.apropos .image-porto{
    z-index: 3;
    width: 8em;
    height: 8em;
}
.apropos .ecriture h1{
    margin-bottom: 0.5em;
    font-size: 1.6em;
}
.apropos .ecriture p{
    font-size: 0.9em;
}
/* ================ COMPETTENCES ================= */
.comp-item{
    grid-template-columns: repeat(2, 2fr);
    gap: 0.8em;
}
.competence h1{
    font-size: 1.3em;
    margin-left: 0.6em;
}
.competence-item {
    padding: 0.4em;
}
.competence-item h3{
    font-size: 0.8em;
}
.competence-item p{
    font-size: 0.6em;
}

/* ================ PROJET ================= */
.projet-card{
    grid-template-columns: repeat(1, 2fr);
    gap: 1em;
}
.projet-item{
    padding: 0.5em;
    font-size: 1em;
    box-shadow: 5px 5px 20px rgba(252, 250, 250, 0.3);
    border-radius: 10px;

}
.projet .projet-card .projet-item button{
    padding: 0.4rem 0.6rem;
}

.projet h1{
    margin-left: 0.5em;
    font-size: 1.5em;
}
.projet h3{
    font-size: 1.2em;
}

/* ================ CONTACT ================= */
.contact{
    margin-top: 2em;
    padding-left: 1em;
    margin-bottom: 2em;
}
.cont-item {
    padding: 1em;
}
}













